:root{
    --white-color:#fff;
    --black-color:black;
    --text-color:#333;
    --primary-color:#08c;
    --header-height:100px;
    --header-height-scrolled:70px;
    --header-nav-height:250px;
}
*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6rem;
    box-sizing: border-box;
    scroll-behavior:smooth;
}
/* responsive */
.main{
    overflow: hidden;
}
.full-height{
    height:100%;
}
.active{
    color:#08c !important;
}
.border-bottom{
    border-bottom:1px solid #3b3838;
}

/* hover a tag */

@keyframes FadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
