.clients{
    background-image: url('https://www.okler.net/previews/porto/9.1.0/img/bg-one-page-1-1.jpg');
    background-position: center;
    background-size: cover;
    padding:110px 0;
    height:auto;
    position: relative;
    margin-top: 30px;
    
}
.clients-overlay{
    background-color: #292e34;
    opacity: 0.6;
    position: absolute;
    /* height: 100%; */
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.clients-content{
    text-align: center;
    z-index: 2;
    position: relative;
}

.clients-heading{
    color: white;
    font-size: 3rem;
    font-weight: 700;
}

.clients-pg{
    color:white;
    opacity: 0.7;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 15px;
}
.clients-list .owl-dots{
    display: none;
}
.clients-list{
    margin-top:20px;
}
.clients-list-2{
    margin-top: 50px;
}
.clients-list-2-item{
    text-align: center;
}
.clients-list-2-item-quote::before{
    display: block;
    left: 0;
    top: 0;
    content: "“";
    font-size: 80px;
    font-style: normal;
    line-height: 1;
    position: absolute;
    color:var(--primary-color);

}
.clients-list-2-item-quote{
    color:white;
    padding-bottom: 22px;
    font-size: 2.1rem;
    padding-right:40px;
    padding-left: 40px;
    padding-top:20px;
    position: relative;
    font-family: playfair display,serif;
}
.clients-list-2-item-quote::after{
    display: block!important;
    right: 10px;
    font-size: 80px;
    font-style: normal;
    line-height: 1;
    position: absolute;
    bottom: -.5em;
    content: "”";
    color:var(--primary-color);
}


.clients-list-2-item-source{
    color:white;
}

