.team{
    margin-bottom: 48px;
    padding-bottom: 48px;
}
.team-heading{
    text-align: center;
}

.team-heading-content{
    
    font-size: 3rem;
    color: black;
    font-weight: 700;
    margin-bottom: 15px;
    padding-top: 48px;
    margin-top: 48px;
}

.team-heading-pg{
    font-size: 1.4rem;
    color:black;
    opacity: 0.7;
    margin-bottom: 40px;
}
.team-infor{

}

.team-infor__link{

}

.team-infor__img{
    width: 100%;
    border-radius: 4px;
}

.team-infor__name{
    color:#212529;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 800;
}

.team-infor__position{
    color:#777;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.team-infor__jd{
    color:#777;
    font-size: 1.4rem;
}

.team-infor__list{
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    margin-bottom: 24px;
    
}

.team-infor__item{

}

.team-infor__item-link{
    color: white;
    background-color: var(--primary-color);
    border-radius: 20px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    display: block;
    position: relative;
}

.team-infor__item-icon{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
}
.team-infor__item-link:hover{
    color:white;
}

